<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	<listeners>
		<listener
			class-name="com.uhg.vijay.DashboardAndReportingDemo.extentReportDemo.TestListener.java" />
	</listeners>
	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://google.com" />

	<test name="Admin Tests">
		<classes>
			<class name="com.tests.BasePageTest" />
			<class name="com.tests.SignInPageTest" />
			<class name="com.tests.CreateAccountTest" />
		</classes>
	</test>
</suite>